<!DOCTYPE html>
<!-- Root element -->
<html lang="en">
<!-- machine code -->
<head>
    <!--Supplying support to any character the user input on the page, or exist in the code-->
    <meta charset="UTF-8">
    <title>Developed by: Kostyantyn 🐱‍👤</title>
    <!-- Import CSS File -->
    <link rel="stylesheet" href="/styles/style.css">
</head>
<body> <!-- Human code. Will be shown on the webpage. -->
<div class="pageContainer">
    <div class="item navBar">
        <div class="navLogo">
            <h1>WebsiteName</h1>
        </div>
        <ul class="myUl">
            <li>Home page</li>
            <li>Services</li>
            <li>Project Roadmap</li>
        </ul>
    </div>

    <div class="item topBar">Topbar</div>
    <div class="item bodyPart">
        <!-- Hero text section -->
        <h1>Hawaii pizza is not a sin</h1>
    </div>
    <div class="item l-sPanel">Left side panel</div>
    <div class="item r-sPanel">Right side panel</div>
    <div class="item footer">Footer</div>
</div>
</body>

</html>